.album {
  margin: 20px 0;
}
.albumList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.albumItem {
  width: 25%;
  height: 200px;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}

.albumLink {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.albumImage {
  width: 100%;

}
